* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

.grey-text {
    color: gray;
}

.orange-text {
    color: orange;
}

.intro {
    display: flex;
    padding: 70px 50px;
}

.intro-heading {
    margin-top: 150px;
}

.intro-text {
    margin: 30px 0;
}

.half-width {
    width: 50%;
}

img {
    width: 100%;
}

.order-btn {
    background-image: linear-gradient(to right, orange, tomato);
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    color: white;
    font-size: 20px;
}

.about-me {
    background-image: url(./images/Frame-59.jpg);
    background-size: contain;
    width: 100%;
    display: flex;
    padding: 150px 50px 0 50px;
    margin-bottom: 100px;
}

.about-me-img {
    height: 450px;
    width: 300px;
    margin: 0 200px;
    padding: 0;
}

.about-me-text {
    margin: 50px 0;
    text-align: justify;
}

.revepie-heading {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.revepie-heading-text {
    margin: 50px 0;
}

.receipe-main {
    display: flex;
    padding: 0 50px;
}

.box {
    box-shadow: 10px 10px 20px -5px gray;
    border-radius: 50px;
    margin: 25px;
}

.container {
    padding: 25px;
}

.container img {
    height: 400px;
}

.box-heading{
    margin: 15px 0;
}
.follower-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    padding: 25px;
    box-shadow: 10px 10px 20px -5px grey;
    border-radius: 25px;
}