* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.grey-text {
    color: gray;
}

.orange-text {
    color: orange;
}

.intro {
    display: flex;
    padding: 70px 50px;
}

.intro-heading {
    margin-top: 150px;
}

.intro-text {
    margin: 30px 0;
}

.half-width {
    width: 50%;
}

img {
    width: 100%;
}

.order-btn {
    background-image: linear-gradient(to right, orange, tomato);
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    color: white;
    font-size: 20px;
}